dist
node_modules
.claude

test/**/*.js
test/**/*.js.map
test/**/*.d.ts
test/**/*.d.ts.map

src/**/*.js
src/**/*.d.ts
src/**/*.d.ts.map

tsconfig.tsbuildinfo
tsconfig.test.tsbuildinfo

.env
coverage
*.gz
*.db
.env
